@import url('https://fonts.cdnfonts.com/css/sternbach');

:root {
  --dark-blood-red: #770000; /* Dark blood red */
  --light-gray: #D3D3D3; /* Light gray */
  --medium-gray: #A9A9A9; /* Medium gray */
  --dark-gray: #808080; /* Dark gray */
  --very-dark-gray: #505050; /* Very dark gray for backgrounds */
  --font-color: #FFFFFF; /* White for text for better contrast */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.selector-container {
  margin:auto;
  width: 50%; /* Take the full width of the parent container */
}
.weight-selector {
  margin:auto;
  width: 25%;
}

h1 {
  font-family: 'Sternbach', sans-serif;
  color: var(--dark-blood-red); /* Assuming you have defined this color variable */
  /* Add any additional styling for your header here */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--very-dark-gray);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--dark-blood-red);
}

body {
  background-color: var(--dark-gray);
  color: var(--dark-blood-red);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.button, .selector {
  background-color: var(--dark-blood-red);
  color: var(--font-color);
  border: 1px solid var(--medium-gray);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover, .selector:hover {
  background-color: var(--light-gray);
  color: var(--very-dark-gray);
}

.button:active, .selector:active {
  background-color: var(--medium-gray);
  color: var(--very-dark-gray);
}